body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

#container {
  margin-left: 11%;
  margin-bottom: 3%;
  margin-top: -3%;
}

header {
  display: flex;
}

#logo {
  margin-top: 2%;
}

#header {
  color: yellow;
  text-shadow: 4px 4px 8px black;
  text-decoration-line: underline;
  margin-left: 4%;
  font-size: 3em;
}

#description {
  position: absolute;
}

#app {
  position: sticky;
  width: 70%;
  top: 30%;
  margin-left: 59%;
  margin-bottom: 650px;
  margin-top: 5%;
}

#reviews {
  position: relative;
  /* margin-top: 850px; */
}